body{
    background-color: lightgray;
}
.main-page{
    color: blue;
    font-family: 'Google Sans Flex';
    font-size: medium;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    padding: 20px;
}
.home{
    background-color: lightgray;
    color: blue;
    font-family: 'Google Sans Flex';
    font-size: medium;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding: 10px;
}
.gallery{
    background-color: lightgray;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding: 10px;
}
.aboutme{
    background-color: lightgray;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding: 10px;
}
.journey{
    background-color: lightgray;
    color: blue;
    font-family: 'Google Sans Flex';
    font-size: medium;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding: 10px;
}
.table{
    background-color: lightgray;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
}
.contact{
    background-color: lightgray;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    padding: 10px;
}